<img src="./logo.png">

# Dataload & Pre-setting

## Import Package

In [46]:
import pandas as pd
import numpy as np

## Dataload

In [47]:
df=pd.read_csv("./dataset/train.csv")

In [48]:
df.columns=[col.lower() for col in df.columns]

<pre>
OverallQual : 전반적 재료와 마감 품질  -> all_auql
GrLivArea : 지상층 생활 면적           -> gr_sf
ExterQual : 외관 재료 품질             -> ex_qual
GarageCars: 차고 자리 개수             -> gara_cars
GarageArea: 차고 면적                  -> gara_sf
KitchenQual : 부억 품질                -> kit_qual
TotalBsmtSF : 지하실 면적              -> bsmt_sf
1stFlrSF : 1층 면적                    -> 1st_sf
BsmtQual : 지하실 높이                 -> bsmt_qual
FullBath : 지상층 화장실 개수          -> full_bath
YearBuilt : 완공 연도                  -> year_built
YearRemodAdd : 리모델링 연도           -> year_remod
GarageYrBlt : 차고 완공 연도           -> year_gara_blt
target : 집값(달러 단위)               -> target

In [49]:
col_list=['id','all_qual','gr_sf','ex_qual', 'gara_cars','gara_sf','kit_qual','bsmt_sf','1st_sf','bsmt_qual','full_bath','year_built','year_remod','year_gara_blt','target']
df.columns=col_list

In [50]:
df.head()

,id,all_qual,gr_sf,ex_qual,gara_cars,gara_sf,kit_qual,bsmt_sf,1st_sf,bsmt_qual,full_bath,year_built,year_remod,year_gara_blt,target
0,1,10,2392,Ex,3,968,Ex,2392,2392,Ex,2,2003,2003,2003,386250
1,2,7,1352,Gd,2,466,Gd,1352,1352,Ex,2,2006,2007,2006,194000
2,3,5,900,TA,1,288,TA,864,900,TA,1,1967,1967,1967,123000
3,4,5,1174,TA,2,576,Gd,680,680,TA,1,1900,2006,2000,135000
4,5,7,1958,Gd,3,936,Gd,1026,1026,Gd,2,2005,2005,2005,250000

In [51]:
df.shape

(1350, 15)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1350 entries, 0 to 1349
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1350 non-null   int64
 1   all_qual       1350 non-null   int64
 2   gr_sf          1350 non-null   int64
 3   ex_qual        1350 non-null   object
 4   gara_cars      1350 non-null   int64
 5   gara_sf        1350 non-null   int64
 6   kit_qual       1350 non-null   object
 7   bsmt_sf        1350 non-null   int64
 8   1st_sf         1350 non-null   int64
 9   bsmt_qual      1350 non-null   object
 10  full_bath      1350 non-null   int64
 11  year_built     1350 non-null   int64
 12  year_remod     1350 non-null   int64
 13  year_gara_blt  1350 non-null   int64
 14  target         1350 non-null   int64
dtypes: int64(12), object(3)
memory usage: 158.3+ KB

In [53]:
df.head(1)

,id,all_qual,gr_sf,ex_qual,gara_cars,gara_sf,kit_qual,bsmt_sf,1st_sf,bsmt_qual,full_bath,year_built,year_remod,year_gara_blt,target
0,1,10,2392,Ex,3,968,Ex,2392,2392,Ex,2,2003,2003,2003,386250

### ToDo: there is no null data / object: Exter Qual, Kitchen Qual, Bsmt Qual

# EDA

## unique

In [54]:
df.nunique()

id               1350
all_qual            9
gr_sf             813
ex_qual             4
gara_cars           5
gara_sf           454
kit_qual            4
bsmt_sf           709
1st_sf            736
bsmt_qual           5
full_bath           5
year_built        105
year_remod         61
year_gara_blt      97
target            619
dtype: int64

In [55]:
# unique columns drop
df=df.drop('id', axis=1)

In [68]:
df.nunique()[df.nunique()>=100]

gr_sf         813
gara_sf       454
bsmt_sf       709
1st_sf        736
year_built    105
target        619
dtype: int64

In [67]:
df.nunique()>100

all_qual         False
gr_sf             True
ex_qual          False
gara_cars        False
gara_sf           True
kit_qual         False
bsmt_sf           True
1st_sf            True
bsmt_qual        False
full_bath        False
year_built        True
year_remod       False
year_gara_blt    False
target            True
dtype: bool

In [ ]:
# 강사님
# 기본-----------------
# s=train.nunique()
# df=pd.DataFrame()
# dic={"컬럼":s.index, "카운트":s.values} #, "비율":[]
# df=pd.DataFrame(dic)
# df['비율%']=(df["카운트"]/891)*100
# df

# 발전-------------------
# ------------------총 개수 하드코딩 안 하려면
# len(train) 또는
# train.shape[0] # train.shape로 나온 게 튜플이라서 [0]

# ------------------s.values 하면 array로 줌 -> array는 일괄 계산 가능하므로(단, round 할 때는 np.round 써야됨.)
# rate=np.round(s.values/len(train)*100,1)

def my_dfcheck(par='null'):
    if par=='unique':
        s=train.nunique()
    else:
        s=train.isna().sum()
    # df=pd.DataFrame()
    rate=np.round(s.values/len(train)*100,1)
    dic={"컬럼":s.index, "카운트":s.values, "비율":rate}
    df=pd.DataFrame(dic).sort_values('카운트', ascending=False)
    return df # 너무 길어서 보기 어려우면 .T

my_dfcheck()